findspark==2.0.1
apache-sedona==1.7.1
clickhouse-connect==0.8.16
geopandas==1.0.1
joblib==1.4.2
scikit-learn==1.6.1
pyspark==3.5.5
pyarrow==19.0.0
matplotlib==3.10.0
seaborn==0.13.2
numpy==2.0.1
polars==1.27.1
shapely==2.0.6
leafmap==0.43.6
phik==0.12.4
osmnx==2.0.3

